// Place all the styles related to the Teas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0 auto;
  padding:10px;
}
.tea_listing {
  float:left;
  width:400px;
  padding:5px;

}
.thumbnail {
  border:0px;
  height:400px;
}
.intro {
  font-weight:bold;
}

.nav {

  background: #D4A190;
  border:0px;
  height: 50px;
}

.nav-tabs >li >a {
  border-radius: 0px;
  color: #000;
  height:50px;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,

 {
  background:#fff;
  height:50px;
  border:0px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border:0px;
  height:50px;
  background:#fff;

}
