// Place all the styles related to the Teas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .col-md-4 {
//   height:600px;
// }

.multi_imgs {
  height: 300px;
  margin-right: 10px;
}
.tea_listing {
    padding:5px;
    font-family: 'trebuchet ms'

}
.tea_listing img {
  width:100%;

}
.tea_listing_hed {
    font-family: 'trebuchet ms'

}

.tea_listing a {
  color: #BA684C;
}
.tea_listing a:hover {
  color: #555;
  text-decoration: none;
}
.thumbnail {
  border:0px;
  
}
.intro {
  font-weight:bold;
}