<h1>
Our suppliers
</h1>

<% @suppliers.each do |supplier| %>
  <h2><%= supplier.name%></h2>
  <p><span class="intro">Email:</span> <%= supplier.email %></p>
  <p><span class="intro">Phone:</span> <%= supplier.phone %></p>

<hr>
<% end %>



