<!DOCTYPE html>
<html>
<head>
  <title>Teashop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="jumbotron">
  <h1>Zeina's Tea F U</h1>
  <p></p>
  <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
--></div>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="/teas">Teas</a></li>
  <li role="presentation"><a href="/teas/new">Add new tea</a></li>
</ul>

<%= yield %>

</body>
</html>
